.fa-github{
  cursor: pointer;
  text-decoration: none;
}

footer {
  display: flex;
  background-color: #333;
  align-items: center;
  height: 50px;
  margin-top: 25px;
  p {
    color: #fafafa;
  }
  strong {
    color: white;
  }
  .columns {
    width: 100%;
  }
  a {
    color: #fafafa;
    &:hover{
      color: #d15f00;
    }
  }
}
