
.column.home {
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 50px;
  padding-bottom: 50px;

}

.buttons.home {
  padding-left: 391px;
  padding-top: 78px;

}

.homeButton {
  border-radius: 2px;
  color: #000000;
  font-size: 16px;
  background: #ffffff;
  padding: 9px 38px;
  border: solid white 2px;
  text-decoration: none;
}
.homeButton:hover {
  background: #1e7eba;
  text-decoration: none;
}

.homeContainer {
  min-height: 80vh;

}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('/images/puppies.png') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}
