
.column.home {


}

.buttons.home {
  padding-left: 391px;
  padding-top: 78px;

}

.homeButton {
  border-radius: 0px;
  color: #000000;
  font-size: 22px;
  background: #ffffff;
  padding: 3px 4px 3px 4px;
  border: solid #1f628d 3px;
  text-decoration: none;
}
.homeButton:hover {
  background: #1e7eba;
  text-decoration: none;
}

.homeContainer {
  min-height: 100vh;

}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media (min-aspect-ratio: 16/9) {
.fullscreen-bg__video {
  height: 300%;
  top: -100%;
}
}

@media (max-aspect-ratio: 16/9) {
.fullscreen-bg__video {
  width: 300%;
  left: -100%;
}
}
@media (max-width: 760px) {
.fullscreen-bg {
  background: url('images/puppies.png') center center / cover no-repeat;
}

.fullscreen-bg__video {
  display: none;
}
}
