
.column.home {


}

.buttons.home {
  padding-left: 391px;
  padding-top: 78px;

}

.homeButton {
  border-radius: 0px;
  color: #000000;
  font-size: 22px;
  background: #ffffff;
  padding: 3px 4px 3px 4px;
  border: solid #1f628d 3px;
  text-decoration: none;
}
.homeButton:hover {
  background: #1e7eba;
  text-decoration: none;
}

.homeContainer {
  min-height: 100vh;
  background-color: red;
}
