body.petsIndex{
  background-size: cover;
  min-height: 100vh;
  background-image: url('/images/background.jpg');
}
.border{
  border: 1px solid #d15f00;
  border-radius: 5%;
  background-color: #d15f00;
  color: black;
  // margin-left: 790px;
}
