body.petsIndex{
  background-size: cover;
  min-height: 100vh;
  background-image: url('/images/index.jpg');
  // background: #11998e;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to left, #5fcc85, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to left, #5fcc85, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  .card {
    transition-duration: .25s;
    opacity: 0.85;
    &:hover {
      opacity: 1;
    }
    &.is-fullheight {
      height: 100%;
    }
  }



}
.border{
  border: 1px solid #d15f00;
  border-radius: 5%;
  background-color: #d15f00;
  color: #333;
  // margin-left: 790px;
}

.index-filters {
  margin-bottom: 8px;
}

.index {
  input[type="radio"]:checked+label {
    color: #fcfcfc;
    background-color: #e66700;
  }
}
