.container {
  &.index {
    .card {
      transition-duration: .25s;
      opacity: 0.85;
      &.is-fullheight {
        height: 100%
      }
      &:hover {
        opacity: 1;
      }
    }
  }
}
