
.locationName {
  font-weight: 400;
  font-family: 'Work Sans', sans-serif;
  font-size: 43px;
  text-align:center
}

.column .location {
  padding-top: 50px;
  padding-bottom: 50px;
  // background-color: white;
  margin-left: 24%;
  margin-right: 24%;
}

.locationSaveOrCancal{
  padding-left: 45%;
  padding-right: 25%;

}

.lostFoundButtons{
  font-weight: 300;
  font-family: 'Work Sans', sans-serif;
  font-size: 23px;
  padding-left: 130px;
}


body.location{
   background-image: url('/images/puppies.png');
   color: white;
   background-size: cover;
   width: auto;
   height: auto;
}
