
.locationName {
  font-weight: 400;
  font-family: 'Work Sans', sans-serif;
  font-size: 33px;
  text-align:center
}

.column .location {
  padding-top: 12px;
  padding-bottom: 25px;
  // background-color: white;
  margin-left: 24%;
  margin-right: 24%;
}
.disabled {
  opacity: 0.65;
  cursor: not-allowed;
}

.locationSaveOrCancal{
  padding-left: 45%;
  padding-right: 25%;

}
.locationCentered{
  width: 900px;
    margin: 0 auto;
}

.lostFoundButtons{
  font-weight: 300;
  font-family: 'Work Sans', sans-serif;
  font-size: 23px;
  padding-left: 130px;
}
#locationButton{
  margin-top: 20px;
}

body.location{
   background-image: url('/images/puppies.png');
   color: #333;;
   background-size: cover;
   width: auto;
   height: auto;
}

.containerLocation {
  input[type="radio"]:checked+label {
    color: #fcfcfc;
    background-color: #e66700;
  }
}
