a.navbar-item:hover {
    background-color: transparent;
    color: #d15f00;
    font-size: 18px;
    // text-decoration: underline;
}

body.home {
  .loginNavbar, .registerNavbar {
    display: none;
  }
}
