body.petsNew{
   background-image: url('../images/manSitting.png');
   color: white;
   background-size: cover;
   width: auto;
   height: auto;
}

.form-container {
  background-color: #fafafa;
  margin-top: 5vh;
  border-radius: 4px;
  padding: 30px;
}
