body.petsNew{
   background-color: #fafafa;
   color: white;
   width: auto;
   height: auto;
}

.form-container {
  background-color: #fff;
  margin-top: 5vh;
  border-radius: 4px;
  padding: 30px;
}
