body.usersShow {
  background-image: url('../images/smallKitten.png');
  color: white;
  background-size: cover;
  width: auto;
  height: auto;
  background-blend-mode: color;
  background-color: rgba(0, 0, 0, 0.21);

}

.nameShowListing {
  // background-color: rgba(255, 255, 255, 0.88);
  border-radius: 3px;
  margin-bottom: 3px;
  width: max-content;
}

.messages {
  // background-color: rgba(255, 255, 255, 0.88);
  border-radius: 3px;
  height: max-content;
  padding: 15px;
}

.profileName {
  // background-color: rgba(255, 255, 255, 0.88);
  width: max-content;
  border-radius: 3px;
  margin-bottom: 10px;
}
