body.usersShow {
  background-image: url('../images/profile.jpg');
  // color: white;
  background-size: cover;
  width: 100%;
  height: auto;

}

.nameShowListing {
  // background-color: rgba(255, 255, 255, 0.88);
  border-radius: 3px;
  margin: 3px;
  width: max-content;
}

.column.is-half {
  // background-color: rgba(255, 255, 255, 0.88);
  border-radius: 3px;
  height: max-content;
}

.profileName {
  // background-color: rgba(255, 255, 255, 0.88);
  width: max-content;
  border-radius: 3px;
  margin: 3px;
  margin-bottom: 1px;
}
