<div class="containerLocation">
  <div class="columns">
    <div class="column">
      <form ng-submit="locationIndex.search(locationIndex.latLng)" name="locationIndex.locationForm" novalidate>
        <div class="lostFoundButtons">
          <input id="lost-radio" type="radio" ng-model="locationIndex.status" value="found"><label for="lost-radio">Lost a Pet</label>
          <input id="found-radio" type="radio" ng-model="locationIndex.status" value="lost"><label for="lost-radio">Or found one?</label>
        </div>
        <div class="column location">
          <label for="location" class="locationName">When last did you see it?</label>

          <div class="control">
              <input autocomplete location="locationIndex.latLng" type="text" class="input" id="location" name="location" ng-model="locationIndex.user.address" required>

            <div ng-messages="locationIndex.location.$error" role="alert" ng-if="locationIndex.locationForm.$submitted || locationIndex.locationForm.location.$touched">
              <div ng-message="required" class="red">Please enter a value for this field.</div>
            </div>

            <button type="button" class="button is-primary" ng-if="locationIndex.userLatLng" ng-click="locationIndex.search(locationIndex.userLatLng)">Use my location</button>
          </div>
        </div>
        <div class="columns is-centered">
          <div class="column is-narrow">
            <input type="submit" class="button is-primary" value="Save">
            <a href="/pets" class="button is-info">Cancel</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
