<div class="containerLocation">
  <div class="columns locationCentered">
    <div class="column form-container">
      <form ng-submit="locationIndex.search(locationIndex.latLng)" name="locationIndex.locationForm" novalidate>
        <div class="lostFoundButtons center">
          <input id="lost-radio" type="radio" ng-model="locationIndex.status" value="found" hidden><label class="button is-info" for="lost-radio">Lost</label>
          <input id="found-radio" type="radio" ng-model="locationIndex.status" value="lost" hidden><label class="button is-info" for="found-radio">Found</label>
        </div>
        <div class="column location">
          <label for="location" class="locationName">What's your location?</label>
          <div class="control">
            <input autocomplete location="locationIndex.latLng" type="text" class="input" id="location" name="location" ng-model="locationIndex.user.address" required>
            <div ng-messages="locationIndex.location.$error" role="alert" ng-if="locationIndex.locationForm.$submitted || locationIndex.locationForm.location.$touched">
              <div ng-message="required" class="red">Please enter a value for this field.</div>
            </div>
            <div class="columns is-centered">
              <div class="is-narrow">
                <a type="button" id="locationButton" class="button is-primary" ng-class="{ disabled: !locationIndex.userLatLng }" ng-click="locationIndex.search(locationIndex.userLatLng)">{{ locationIndex.buttonText }}</a>
              </div>
            </div>
          </div>
        </div>
        <div class="columns is-centered">
          <div class="column is-narrow">
            <input type="submit" class="button is-primary" value="Save">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
