<div class="container profile">
  <div>
    <h1>Profile - {{usersShow.user.name}}</h1>
  </div>
  <div class="columns">
    <section class="column is-one-third">
      <div>
        <div>
          <h2 ng-if="usersShow.user.posts.length >= 1">Your Listings</h2>
          <h2 ng-if="usersShow.user.posts.length === 0">You have no listings</h2>
        </div>
        <div ng-repeat="post in usersShow.user.posts" class="columns">
          <a ui-sref="petsShow({ id: post.id })" class="column is-two-thirds">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img ng-src="{{ post.imageSRC }}" alt="{{ post.name }}">
                </figure>
              </div>
              <div class="card-content">
                <div>
                  <h3>{{ post.name }}</h3>
                  <p>Posted on {{ post.createdAt | date : "dd/MM/yyyy"}}</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </section>
    <section class="column is-half">
      <h2>Your messages</h2>
      <div ng-repeat="contact in usersShow.uniqueContacts" class="level">
        <div ng-click="usersShow.showMessagesWith(contact)" class="conversation-group level-item">
          <h3>Your message history with {{ contact.name }}</h3>
        </div>
        <div class="modal profile" id="message-modal">
          <div class="modal-background" ng-click="usersShow.toggleMessageModal()"></div>
          <div class="modal-card">
            <section class="modal-card-body">
              <div class="level">
                <h3 class="level-left">Your message history with {{ contact.name }}</h3>
                <button class="delete level-right" aria-label="close" ng-click="usersShow.toggleMessageModal()"></button>
              </div>
              <div ng-show="usersShow.contact === contact" class="messages-area">
                <message-display ng-repeat="message in usersShow.filteredMessages | orderBy : 'createdAt' : reverse " ></message-display>
              </div>
              <message-reply ng-if="usersShow.contact === contact"></message-reply>
            </section>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
