<div>
  <h1>Your Profile</h1>
</div>
<div class="columns">
  <section class="column is-one-third">
    <div>
      <h2 ng-if="usersShow.user.posts.length > 1">Your posts</h2>
      <h2 ng-if="usersShow.user.posts.length === 1">Your post</h2>
      <div ng-repeat="post in usersShow.user.posts" class="columns">
        <a ui-sref="petsShow({ id: post.id })" class="column is-half">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img ng-src="{{ post.imageSRC }}" alt="{{ post.name }}">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h3>{{ post.name }}</h3>
                <p>Posted on {{ post.createdAt | date : "MM/dd/yyyy"}}</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section class="column is-two-thirds">
    <h2>Your messages</h2>
    <div ng-repeat="sender in usersShow.uniqueSenders">
      <div ng-click="usersShow.showMessagesFrom(sender)" ng-hide="usersShow.sender && usersShow.sender !== sender" class="columns conversation-group">
        <p class="column">
          {{ sender.name }}
        </p>
      </div>
      <div ng-show="usersShow.sender === sender">
        <div ng-repeat="message in usersShow.filteredMessages" >
          <message-display></message-display>
        </div>
      </div>
    </div>
    <button class="button" ng-show="usersShow.sender && !usersShow.replyActivated" ng-click="usersShow.toggleReplyActivated()">Reply</button>
    <message-reply ng-show="usersShow.replyActivated"></message-reply>
  </section>
</div>
