<div>
  <h1>{{usersShow.user.name}}'s Profile</h1>
</div>
<div class="columns">
  <section class="column is-one-third">
    <div>
      <div class="content">
        <h2 ng-if="usersShow.user.posts.length > 1">Your posts</h2>
        <h2 ng-if="usersShow.user.posts.length === 1">Your post</h2>
      </div>
      <div ng-repeat="post in usersShow.user.posts" class="columns">
        <a ui-sref="petsShow({ id: post.id })" class="column is-two-thirds">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img ng-src="{{ post.imageSRC }}" alt="{{ post.name }}">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h3>{{ post.name }}</h3>
                <p>Posted on {{ post.createdAt | date : "dd/MM/yyyy"}}</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section class="column is-two-thirds content">
    <h2>Your messages</h2>
    <div ng-repeat="contact in usersShow.uniqueContacts">
      <div ng-click="usersShow.showMessagesWith(contact)" ng-hide="usersShow.contact && usersShow.contact !== contact" class="conversation-group">
        <p>
          {{ contact.name }}
        </p>
      </div>
      <div ng-show="usersShow.contact === contact">
        <message-display ng-repeat="message in usersShow.filteredMessages | orderBy : 'createdAt' : reverse " ></message-display>
      </div>
    </div>
    <button class="button" ng-show="usersShow.contact && !usersShow.replyActivated" ng-click="usersShow.toggleReplyActivated()">Reply</button>
    <message-reply ng-show="usersShow.replyActivated"></message-reply>
  </section>
</div>
