<div ng-controller="MessagesReplyCtrl as messagesReply">
  <form ng-submit="messagesReply.messagesCreate(usersShow.pet, usersShow.sender)" name="messagesReply.newMessageForm" novalidate>
    <div class="field">
      <label for="image">Upload Image</label>
      <div class="control">
        <drag-drop-img base64 ng-model="messagesReply.message.base64" id="image" name="base64"></drag-drop-img>
      </div>
    </div>
    <div class="field">
      <label for="text" class="label">Message</label>
      <div class="control">
        <textarea type="text" class="textarea" id="text" name="text" ng-model="messagesReply.message.text"
        placeholder="place message here"></textarea>
      </div>
    </div>
    <div class="control">
      <input type="submit" class="button is-info" value="Add message">
      <a ng-click="" class="button is-primary">Cancel</a>
    </div>
  </form>
</div>
