<div ng-controller="MessagesNewCtrl as messagesNew">
  <form ng-submit="messagesNew.messagesCreate()" name="messagesNew.newMessageForm" novalidate>
    <div class="field">
      <label for="image">Upload a photo of your pet</label>
      <div class="control">
        <drag-drop-img base64 ng-model="messagesNew.message.base64" id="image" name="base64" required></drag-drop-img>
        <div ng-messages="messagesNew.newMessageForm.base64.$error" role="alert" ng-show="(messagesNew.newMessageForm.$submitted || messagesNew.newMessageForm.base64.$touched) && messagesNew.newMessageForm.base64.$invalid" class="error">
          <div ng-message="required">Image is required.</div>
        </div>
      </div>
    </div>
    <div class="field">
      <label for="text" class="label">Message</label>
      <div class="control">
        <textarea type="text" class="textarea" id="text" name="text" ng-model="messagesNew.message.text" placeholder="Type your message here"></textarea>
      </div>
    </div>
    <button type="submit" class="button is-info">Send message</button>
    <button type="button" ng-click="petsShow.toggleMessageActivated()" class="button is-primary">Cancel</button>
  </form>
</div>
