
<input  ng-click="home.showLostForm()" class="button" type="button" value="login">
<input  ng-click="home.showFoundForm()" class="button" type="button" value="Register">

<div ng-show="home.lostFormSelected">
  <div class="center">
    <section class="section">
      <div class="columns">
        <div class="column is-two-third">
          <form ng-submit="home.submit()">
            <div class="field">
              <label class="label" for="email">Email</label>
              <p class="control">
                <input class="input" type="text" name="email" id="email" ng-model="home.credentials.email">
              </p>
            </div>
            <div class="field">
              <label class="label" for="password">Password</label>
              <p class="control">
                <input class="input" type="password" name="password" id="password" ng-model="home.credentials.password">
              </p>
            </div>
            <div class="field">
              <p class="control">
                <input type="submit" class="button is-primary is-fullwidth" value="Login">
              </p>
            </div>
          </form>
          <br /><p style="text-align: center">Or</p><br />
          <button class="button is-info is-fullwidth" ng-click="home.authenticate('facebook')">Login with Facebook</button>
        </div>
      </div>
    </section>
  </div>
</div>
<div ng-show="home.foundFormSelected">
  <div class="center">
    <section class="section">
      <div class="columns">
        <div class="column is-two-third">
          <form ng-submit="home.submit()">
            <div class="field">
              <label class="label" for="name">Name</label>
              <p class="control">
                <input class="input" type="text" name="name" id="name" ng-model="home.user.name">
              </p>
            </div>
            <div class="field">
              <label class="label" for="email">Email</label>
              <p class="control">
                <input class="input" type="text" name="email" id="email" ng-model="home.user.email">
              </p>
              <small class="red" ng-if="main.errors.email">{{ main.errors.email }}</small>
            </div>
            <div class="field">
              <label class="label" for="password">Password</label>
              <p class="control">
                <input class="input" type="password" name="password" id="password" ng-model="home.user.password">
              </p>
            </div>
            <div class="field">
              <label class="label" for="passwordConfirmation">Password Confirmation</label>
              <p class="control">
                <input class="input" type="password" name="passwordConfirmation" id="passwordConfirmation" ng-model="register.user.passwordConfirmation">
              </p>
              <small ng-if="main.errors.passwordConfirmation">{{ main.errors.passwordConfirmation }}</small>
            </div>
            <div class="field">
              <p class="control">
                <input type="submit" class="button is-primary is-fullwidth" value="Register">
              </p>
            </div>
          </form>
        </div>
      </div>
    </section>
</div>
</div>
