<div class="hero-body">
      <div class="container has-text-centered">
        <div class="columns is-vcentered">
          <div class="column is-5">
            <figure class="image is-4by3">
              <img src="http://s4.thingpic.com/images/zX/7xNJmHFGvpEg6ZGqYS7tfQeU.jpeg" class="cat and dog" alt="Description">
            </figure>
          </div>
          <div class="column is-6 is-offset-1">
            <h1 class="title is-2">
              Lost of found a Pet
            </h1>
            <h2 class="subtitle is-4">
              Sign up and see if you can find or locate your pet
            </h2>
            <br>
            <p class="control has-addons has-text-centered">
              <input class="input is-expanded is-large" type="text" placeholder="Check it out, you@example.org">
              <a ng-if="!main.isAuthenticated()"><a class="button is-info" ui-sref="register" ui-sref-active="active">Sign up</a>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
