<!-- <div class="columns">
  <div class="column is-one-third">
    <div ng-repeat="pet in petsIndex.all" class="col-md-6">
      <a ui-sref="petsShow({ id: pet.id })"><img ng-src="{{ pet.image }}"></a>
      <h2>Name: {{ pet.name }}</h2>
      <p> Location: <em>{{ pet.address }}</em></p>
      <p>Description: <em>{{ pet.description }}</em></p>
      <p>Status: <em>{{ pet.status }}</em></p>
    </div>
  </div>
</div> -->

<div class="columns">
  <div class="column is-one-third">
    <div class="card">
      <div ng-repeat="pet in petsIndex.all">
        <div class="card-image">
          <figure class="image is-4by3">
            <a ui-sref="petsShow({ id: pet.id })"><img ng-src="{{ pet.image }}"></a>
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="http://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">Name: {{ pet.name }}</p>
              <p class="subtitle is-6">Username</p>
            </div>
          </div>

          <div class="content">
            Description: <em>{{ pet.description }}</em>
            <p>Status: <em>{{ pet.status }}</em></p>
            <p> Location: <em>{{ pet.address }}</em></p>
            <a href="#">#css</a> <a href="#">#responsive</a>
            <br>
            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
          </div>
        </div>
      </div>
    </div>
