<div class="pure-u-1 pure-u-sm-1-2">
  <div class="l-box">
    <input type="checkbox" id="roast" ng-model="petsIndex.useDistance">
    <label for="distance">Distance</label>
    <input type="range" ng-model="petsIndex.distance" min="1" max="15" ng-disabled="!petsIndex.useDistance">
    <em ng-if="petsIndex.useDistance">{{ petsIndex.distance }}km</em>
  </div>
</div>
<div class="columns">
  <div class="column is-one-third">
    <div class="card">
      <div ng-repeat="pet in petsIndex.filtered">
        <div class="card-image">
          <figure class="image is-4by3">
            <a ui-sref="petsShow({ id: pet.id })"><img ng-src="{{ pet.imageSRC }}"></a>
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p><strong>Pet name: </strong><em>{{ pet.name }}</em></p>
              <p><strong>Username: </strong><em>{{ user.name }}</em></p>
            </div>
          </div>
          <div class="content">
            <p><strong>Description: </strong><em>{{ pet.description }}</em></p>
            <p><strong>Status: </strong><em>{{ pet.status }}</em></p>
            <p><strong>Location: </strong><em>{{ pet.location }}</em></p>
            <p><strong>Distance: </strong><em>{{ pet.distance }}km</em></p>
            <a href="#">#TwitterHastag in here</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
