<div class="container index">
  <div class="column index">
    <div class="pure-u-1 pure-u-sm-1-2">
      <div class="">
        <input type="checkbox" id="roast" ng-model="petsIndex.useDistance">
        <label for="distance">Distance</label>
        <input type="range" ng-model="petsIndex.distance" min="1" max="15" ng-disabled="!petsIndex.useDistance">
        <em ng-if="petsIndex.useDistance">{{ petsIndex.distance }}km</em>
        <label>Status: </label>
        <label>Lost
          <input type="radio" name="status" ng-model="petsIndex.status" value="lost">
        </label>
        <label>Found
          <input type="radio" name="status" ng-model="petsIndex.status" value="found">
        </label>
        <a class="button" ng-click="petsIndex.status = null">Clear status</a>
      </div>
    </div>
  </div>
  <div class="columns is-multiline">
    <div ng-repeat="pet in petsIndex.filtered | orderBy : 'distance'" class="column is-one-quarter">
      <a ui-sref="petsShow({ id: pet.id })">
        <div class="card is-fullheight">
          <div class="card-image">
            <figure style="background-image: url('{{ pet.imageSRC }}'); background-size: cover; background-repeat: no-repeat; background-position: center;" class="image is-4by3">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p><strong>Pet name: </strong><em>{{ pet.name }}</em></p>
                <p><strong>Status: </strong><em>{{ pet.status }}</em></p>
                <p><strong>Location: </strong><em>{{ pet.address }}</em></p>
                <p><strong>Distance: </strong><em>{{ pet.distance }}km</em></p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
