<div class="center">
  <div class="column form-container">
    <div class="field">
      <form ng-submit="petsNew.create()" name="petsNew.newPetsForm" novalidate>
        <div class="field">
          <label for="name">Name</label>
          <div class="control">
            <input type="text" class="input" id="name" name="name" ng-model="petsNew.pet.name" ng-pattern="/^[\w\s]+$/">
            </div>
          </div>
        <div class="field">
          <label for="type">Type</label>
          <div class="control">
            <input type="text" class="input" id="type" name="type" ng-model="petsNew.pet.type" ng-pattern="/^[\w\s]+$/" required>
            <div ng-messages="petsNew.newPetsForm.type.$error" role="alert" ng-if="petsNew.newPetsForm.$submitted || petsNew.newPetsForm.type.$touched">
              <div ng-message="required" class="red">Please enter a value for this field.</div>
            </div>
          </div>
        </div>
          <div class="field">
            <label for="location">Location</label>
            <div class="control">
              <input autocomplete location="petsNew.pet.location" type="text" class="input" id="location" name="location" ng-model="petsNew.pet.address" required>
              <div ng-messages="petsNew.newPetsForm.location.$error" role="alert" ng-if="petsNew.newPetsForm.$submitted || petsNew.newPetsForm.location.$touched">
                <div ng-message="required" class="red">Please enter a value for this field.</div>
              </div>
            </div>
          </div>
          <div class="field">
            <label for="image">Upload Image</label>
            <div class="control">
              <drag-drop-img base64 ng-model="petsNew.pet.base64" id="image" name="base64" required></drag-drop-img>
              <div ng-messages="petsNew.newPetsForm.base64.$error" role="alert" ng-show="(petsNew.newPetsForm.$submitted || petsNew.newPetsForm.base64.$touched) && petsNew.newPetsForm.base64.$invalid" class="error">
                <div ng-message="required" class="red">Image is required.</div>
              </div>
            </div>
          </div>
          <div class="field">
            <label for="description">Description</label>
            <div class="control">
              <textarea type="text" class="textarea" id="description" name="description" ng-model="petsNew.pet.description" ng-pattern="/^[\w\s'&]+$/" placeholder="Further information" required></textarea>
              <div ng-messages="petsNew.newPetsForm.description.$error" role="alert" ng-if="petsNew.newPetsForm.$submitted || petsNew.newPetsForm.description.$touched">
                <div ng-message="required" class="red">Please enter a value for this field.</div>
              </div>
            </div>
          </div>
          <div class="field">
            <label for="lost">Lost <input type="radio" name="status" value="lost" ng-model="petsNew.pet.status" required></label>
            <label for="found">Found <input type="radio" name="status" value="found" ng-model="petsNew.pet.status"></label>
          </div>
          <input type="submit" class="button is-primary" value="Add">
          <a href="/" class="button is-info">Cancel</a>
        </form>
      </div>
    </div>
  </div>
