<div class="container show">
  <h1>{{ petsShow.pet.name }}: {{petsShow.pet.status}}</h1>
  <div class="columns">
    <div class="column is-5">
      <div class="card">
        <div class="card-image">
          <figure style="background-image: url('{{ petsShow.pet.imageSRC }}'); background-size: cover; background-repeat: no-repeat; background-position: center;" class="image is-4by3" ng-click="petsShow.toggleImageModal()">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p><strong>Pet name: </strong>{{ petsShow.pet.name }}</p>
              <p><strong>Locality: </strong>{{ petsShow.pet.address }}</p>
              <p><strong>Status: </strong>{{ petsShow.pet.status }}</p>
              <p><strong>Description: </strong>{{ petsShow.pet.description}}</p>
              <p><strong>Posted by: </strong>{{ petsShow.pet.postedBy.name }}</p>
              <p><strong>Posted on: </strong>{{ petsShow.pet.createdAt | date : "dd/MM/yyyy"}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-one-third">
      <div class="columns">
        <div class="column">
          <google-map center="petsShow.pet.location"></google-map>
        </div>
      </div>
      <a ng-if="petsShow.myPet" ui-sref="petsEdit({ id: petsShow.pet.id })" class="button is-info">Edit</a>
      <button ng-if="petsShow.myPet" ng-click="petsShow.toggleResolveModal()" class="button is-primary">Resolve</button>
      <button class="button is-primary" ng-if="!petsShow.myPet && petsShow.lostStatus" ng-click="petsShow.thatsMyPet()">That's my pet!</button>
      <button class="button is-primary" ng-if="!petsShow.myPet && !petsShow.lostStatus" ng-click="petsShow.thatsMyPet()">I've found your pet!</button>
    </div>
  </div>
  </div>
  <div class="modal" id="image-modal" ng-click="petsShow.toggleImageModal()" >
    <div class="modal-background"></div>
    <div class="modal-content">
      <p class="image">
        <img ng-src="{{ petsShow.pet.imageSRC }}" alt="">
      </p>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
  <div class="modal show" id="resolve-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <section class="modal-card-body">
        <div class="level">
          <div class="level-left"><strong>Resolve listing</strong></div>
          <button class="delete level-right" aria-label="close" ng-click="petsShow.toggleResolveModal()"></button>
        </div>
        <p ng-if="!petsShow.petResolved">Are you sure you would like to resolve this listing? The listing will no longer appear in searches.</p>
        <div class="columns is-centered">
          <div class="level column is-one-third" ng-if="!petsShow.petResolved">
              <button type="button" ng-click="petsShow.petsResolve()" class="button is-primary" >Resolve</button>
              <button type="button" ng-click="petsShow.toggleResolveModal()" class="button is-info">Cancel</button>
          </div>
          <p ng-if="petsShow.petResolved" class="column is-narrow">Listing resolved</p>
        </div>
      </section>
    </div>
  </div>
  <div class="modal show" id="message-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <section class="modal-card-body">
        <div class="level">
          <div class="level-left" ng-if="petsShow.lostStatus"><strong>That's my pet!</strong></div>
          <div class="level-left" ng-if="!petsShow.lostStatus"><strong>I've found your pet!</strong></div>
          <button class="delete level-right" aria-label="close" ng-click="petsShow.toggleMessageModal()"></button>
        </div>
        <message-create></message-create>
      </section>
    </div>
  </div>
