<img ng-src="{{ petsShow.pet.imageSRC }}">
<p><strong>Pet name: </strong><em>{{ petsShow.pet.name }}</em></p>
<p><strong>Address: </strong><em>{{ petsShow.pet.address }}</em></p>
<p><strong>Description: </strong><em>{{ petsShow.pet.description}}</em></p>
<p><strong>Posted by: </strong><em>{{ petsShow.pet.postedBy.name }}</em></p>
<google-map center="petsShow.pet.location"></google-map>
<a ng-if="petsShow.myPet" ui-sref="petsEdit({ id: petsShow.pet.id })" class="button is-info">Edit</a>
<button ng-if="petsShow.myPet" ng-click="petsShow.delete()" class="button is-danger">Delete</button>

<div class="messaging-area" ng-show="!petsShow.myPet">
  <button class="button" ng-click="petsShow.toggleMessageActivated()" ng-hide="petsShow.messageActivated">That's my pet!</button>
  <div ng-show="petsShow.messageActivated">
    <h3>Claim your pet by sending the user that posted this listing another photo of your pet</h3>
    <message-create></message-create>
  </div>
</div>
