<!DOCTYPE html>
<html ng-app="petsApp">
<head>
  <base href="/">
  <meta charset="utf-8">
  <title>Lost & Found Pets</title>
  <link rel="icon" href="https://cdn3.iconfinder.com/data/icons/pet-shop-glyph-black/614/5178_-_Paws-512.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500" rel="stylesheet">
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCEf0m3wUu-5PAbexCXM6UIh30irV1rayQ&libraries=places,geometry"></script>
  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body ng-controller="MainCtrl as main" ng-class="main.pageName">
  <div class="wrapper">
    <div class="nav-bar">
      <nav class="navbar is-transparent">
        <div class="navbar-brand">
          <a class="navbar-item siteName" ui-sref="home">
            🐰 Lost &amp; Found Pets 🐶
          </a>

          <div class="navbar-burger burger" ng-click="main.menuIsOpen = !main.menuIsOpen" ng-class="{ 'is-active': main.menuIsOpen }">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>

        <div class="navbar-menu" ng-class="{ 'is-active': main.menuIsOpen }">
          <div class="navbar-end">
            <a ui-sref="petsIndex" class="navbar-item">Pets</a>
            <a class="navbar-item" ui-sref="petsNew" ng-if="main.isAuthenticated()">Add a pet</a>
            <a class="navbar-item loginNavbar" ui-sref="login" ui-sref-active="active" ng-if="!main.isAuthenticated()">Log in</a>
            <a class="navbar-item registerNavbar" ui-sref="register" ui-sref-active="active" ng-if="!main.isAuthenticated()">Sign up</a>
            <a class="navbar-item" ui-sref="usersShow({ id: main.getCurrentUserId()})" ng-if="main.isAuthenticated()">Profile</a>
            <a class="navbar-item" ng-click="main.logout()" ng-if="main.isAuthenticated()">Logout</a>
          </div>
        </div>
      </nav>
    </div>
    <div class="message" ng-if="main.message">
      <p>{{ main.message }}</p>
    </div>
    <main ui-view></main>
  </div>
  <footer class="hero-foot">
    <div class="container">
      <div class="columns is-text-centered">
        <div class="column has-text-centered">
          <strong>Lost & Found Pets</strong> by <a href="#">2G & T</a>
        </div>
        <div class="column has-text-centered">
          <p>Made with <i class="fa fa-heartbeat"></i> at <a href="https://generalassemb.ly/locations/london" target="_blank">GA</a> WDI #29</p>
        </div>
        <div class="column has-text-centered">
          <a href="https://github.com/Gio85" target="_blank">
            <i class="fa fa-github"></i> Giovanni Galiero
          </a>
        </div>
        <div class="column has-text-centered">
          <a href="https://github.com/GuyHarper" target="_blank">
            <i class="fa fa-github"></i> Guy Harper
          </a>
        </div>
        <div class="column has-text-centered">
          <a href="https://github.com/PullingStrings" target="_blank">
            <i class="fa fa-github"></i> Sibusiso Zwane
          </a>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
