<!DOCTYPE html>
<html ng-app="petsApp">
<head>
  <base href="/">
  <meta charset="utf-8">
  <title>WDI Project 3 - Lost & Found Pets</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Kalam:700" rel="stylesheet">
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCEf0m3wUu-5PAbexCXM6UIh30irV1rayQ&libraries=places,geometry"></script>
  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body ng-controller="MainCtrl as main">
  <div class="nav-bar">
    <nav>
      <div class="container">
        <div class="nav-left">
          <h1><a ui-sref="home" class="siteName">Lost and Found pets</a></h1>
          <ul class="nav-right">
            <li><a class="button" href="/pets">Pets</a></li>
            <li ng-if="main.isAuthenticated()"><a class="button" ui-sref="petsNew">Add a pet</a></li>
            <li ng-if="!main.isAuthenticated()"><a class="button" ui-sref="login" ui-sref-active="active">Log in</a></li>
            <li ng-if="!main.isAuthenticated()"><a class="button is-info" ui-sref="register" ui-sref-active="active">Sign up</a></li>
            <li ng-if="main.isAuthenticated()"><a class="button" ui-sref="usersShow({ id: main.getCurrentUserId() })">Profile</a></li>
            <li ng-if="main.isAuthenticated()"><a class="button" ng-click="main.logout()">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="message" ng-if="main.message">
    <p>{{ main.message }}</p>
  </div>
  <main ui-view class=""></main>
  <footer class="hero-foot container">
    <div class="columns is-text-centered">
      <div class="column has-text-centered">
        <strong>Lost & Found Pets</strong> by <a href="#">2G & T</a>
      </div>
      <div class="column has-text-centered">
        <p>Made with <i class="fa fa-heartbeat"></i> at <a href="https://generalassemb.ly/locations/london" target="_blank">GA</a> WDI #29</p>
      </div>
      <div class="column has-text-centered">
        <a class="icon" href="https://github.com/Gio85" target="_blank">
          <i class="fa fa-github">Giovanni Galiero</i>
        </a>
      </div>
      <div class="column has-text-centered">
        <a class="icon" href="https://github.com/GuyHarper" target="_blank">
          <i class="fa fa-github">Guy Harper</i>
        </a>
      </div>
      <div class="column has-text-centered">
        <a class="icon" href="https://github.com/PullingStrings" target="_blank">
          <i class="fa fa-github">Sibusiso Zwane</i>
        </a>
      </div>
    </div>
  </footer>
</body>
</html>
