@import "partials/home";
@import "partials/profile";
@import "partials/index";
@import "partials/petsShow";

.sitename {
  color: white;
}

// **************** google map class ********************
.map {
   height: 300px;
   width: 300px;
   display: inline-block;
}
// *******************************


// ****************** form classes below ********************
.center{
  margin: 0 auto;
  width: 400px;
}
.red {
  background-color: rgba(255, 0, 0, 0.5);;
  border-radius: 5%;
  text-align: center;
  animation: pulse 1s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.015);
  }
  100% {
    transform: scale(1);
  }
}
// ******************* form classes above ********************

//********************index styling below**********************

.section {
    padding: 0rem 1.5rem;
    margin: 14px;
}

h1, h2, p {
  font-family: 'Nunito', sans-serif;
}

.siteName {
  font-family: 'Kalam', cursive;
  font-size: 43px;
  color: white;

}

.button {
  padding: 2px, 2px;
  margin: 2px;
}

.nav-left {
  padding: 13px;
  margin: 2px;
}

//********************messaging styling below**********************

div{
  &.conversation-group{
    height: 60px;
    width: 100%;
    margin-top: 20px;
    &:hover {
      cursor: pointer;
      background-color: #eee;
    }
  }
}
