

// **************** google map class ********************
.map {
   height: 300px;
   width: 300px;
   display: inline-block;
}
// *******************************


// ****************** form classes below ********************
.center{
  margin: 0 auto;
  width: 400px;
}
.red {
  background-color: rgba(255, 0, 0, 0.5);;
  border-radius: 5%;
  text-align: center;
  animation: pulse 1s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.015);
  }
  100% {
    transform: scale(1);
  }
}
// ******************* form classes above ********************
