@import "partials/home";
@import "partials/profile";
@import "partials/index";
@import "partials/petsShow";
@import "partials/navbar";
@import "partials/footer";
body{
  font-family: 'Nunito' sans-serif;
}
.sitename {
  color: white;
}

// **************** google map class ********************
.map {
   height: 300px;
   width: 300px;
   display: inline-block;
}
// *******************************
.drag-drop-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #607D8B;
    height: 100px;
    width: 221px;
    text-align: center;
    position: relative;
}
label{
  text-align: center;
  margin-right: 100px;
}
.login{
  background-color: white;
  border-radius: 8%;
}

// ****************** form classes below ********************
.center{
  margin: 0 auto;
  width: 400px;
}
.red {
  background-color: rgba(255, 0, 0, 0.5);;
  border-radius: 5%;
  text-align: center;
  animation: pulse 1s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.015);
  }
  100% {
    transform: scale(1);
  }
}
// ******************* form classes above ********************

//********************index styling below**********************

.section {
    padding: 0rem 1.5rem;
    margin: 14px;
}

// h1, h2, p {
//   font-family: 'Nunito', sans-serif;
// }
.fa-facebook-square{
  margin-right: 10px;
}

.siteName {
  font-family: 'Kalam', cursive;
  font-size: 43px;
  color: black;
}
.siteName:hover{
  color: white;
}

.button {
  padding: 2px, 2px;
  margin: 2px;
}

.nav-left {
  padding: 13px;
  margin: 2px;
}

//********************messaging styling below**********************

div{
  &.conversation-group{
    height: 60px;
    width: 100%;
    margin-top: 20px;
    &:hover {
      cursor: pointer;
      background-color: #eee;
    }
  }
}
